<div class="row">
    <h1>
        Educacion
    </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatem ad non corporis soluta repellendus ipsam fugiat tempora possimus, ab accusantium molestias, adipisci molestiae tenetur, saepe enim quidem at quo.
            </p>
        </ul>

        <ul>
            <li>
                <h1>estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatem ad non corporis soluta repellendus ipsam fugiat tempora possimus, ab accusantium molestias, adipisci molestiae tenetur, saepe enim quidem at quo.
            </p>
        </ul>

        <ul>
            <li>
                <h1>estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatem ad non corporis soluta repellendus ipsam fugiat tempora possimus, ab accusantium molestias, adipisci molestiae tenetur, saepe enim quidem at quo.
            </p>
        </ul>
    </div>
</div>

