<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../../../assets/imagen/HERNAN-FOTO-PEQUEÑA2.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.iapellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, 
                nostrum maglllkni quod esse ut deleniti! Eveniet dolores repudiandae 
                voluptas, praesentium illum animi ullam eius, eum voluptatum 
                consequatur quaerat, quod error.
            </p>
        </span>
    </div>
    
</div>
